@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Outfit',sans-serif;
    background:#F5F7FB;
    color:#1E293B;
}

/* =========================
   SIDEBAR
========================= */

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:260px;
    height:100vh;
    background:#0F172A;
    padding:30px;
    color:#fff;
}

.logo{
    font-size:34px;
    font-weight:800;
    margin-bottom:45px;
}

.logo span{
    color:#3B82F6;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin-bottom:12px;
}

.sidebar ul li a{
    display:flex;
    align-items:center;
    gap:15px;
    padding:16px 18px;
    border-radius:14px;
    color:#E2E8F0;
    text-decoration:none;
    transition:.3s;
    font-size:17px;
    font-weight:500;
}

.sidebar ul li a:hover{
    background:#1E293B;
    color:#fff;
}

.sidebar ul li.active a{
    background:#2563EB;
    color:#fff;
}

.sidebar ul li a i{
    width:22px;
    text-align:center;
    font-size:18px;
}

/* =========================
   CONTENT
========================= */

.content{
    margin-left:260px;
    padding:40px;
}

/* =========================
   HEADER
========================= */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

header h2{
    font-size:34px;
    font-weight:700;
}

.logout{
    text-decoration:none;
    background:#EF4444;
    color:#fff;
    padding:12px 22px;
    border-radius:12px;
    transition:.3s;
}

.logout:hover{
    background:#DC2626;
}

/* =========================
   CARDS
========================= */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin-bottom:35px;
}

.card{
    padding:30px;
    border-radius:22px;
    color:#fff;
    transition:.3s;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.card:hover{
    transform:translateY(-8px);
}

.card p{
    font-size:15px;
    margin-bottom:10px;
    opacity:.9;
}

.card h2{
    font-size:34px;
    margin-bottom:10px;
}

.card-info{
    display:block;
    font-size:14px;
    opacity:.9;
}

/* Kart Renkleri */

.income{
    background:linear-gradient(135deg,#22C55E,#16A34A);
}

.expense{
    background:linear-gradient(135deg,#EF4444,#DC2626);
}

.balance{
    background:linear-gradient(135deg,#2563EB,#1D4ED8);
}

/* =========================
   RECENT
========================= */

.recent{
    background:#fff;
    border-radius:22px;
    padding:30px;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.recent h3{
    margin-bottom:20px;
}

/* =========================
   FORM
========================= */

.income-form{
    background:#fff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    max-width:700px;
}

.income-form input{
    width:100%;
    padding:16px;
    margin-bottom:18px;
    border:1px solid #CBD5E1;
    border-radius:12px;
    font-size:16px;
}

.income-form input:focus{
    outline:none;
    border-color:#2563EB;
}

.auth-btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#2563EB;
    color:#fff;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.auth-btn:hover{
    background:#1D4ED8;
}

/* =========================
   TABLE
========================= */

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    text-align:left;
    padding:16px;
    background:#F1F5F9;
}

table td{
    padding:16px;
    border-bottom:1px solid #E2E8F0;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1000px){

    .cards{
        grid-template-columns:1fr;
    }

}

@media(max-width:800px){

    .sidebar{
        display:none;
    }

    .content{
        margin-left:0;
        padding:20px;
    }

    header{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }
}
    .recent table{
    width:100%;
    border-collapse:collapse;
}

.recent th{
    background:#F8FAFC;
    padding:16px;
    text-align:left;
    color:#64748B;
}

.recent td{
    padding:16px;
    border-bottom:1px solid #E2E8F0;
}

.status-income{
    color:#16A34A;
    font-weight:700;
}

.status-expense{
    color:#DC2626;
    font-weight:700;
}
/* =========================
   FORM
========================= */
.income-form{
    background: #fff;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 0 15px 35px rgba(0,0,0,08);
    margin-bottom: 35px;
}
.income-form input,
.income-form select{

    width: 100%;
    padding: 15px 18px;
    margin-bottom: 18px;

    border:1px solid #CBD5E1;
    border-radius: 14px;
    
    font-size: 16px;
    font-family: 'Outfit',sans-serif;
    transition: .3s;
}
.income-form input:focus,
.income-form select:focus{
    outline: none;
    border-color: #2563EB;
    box-shadow: 0 0 4px rgba(37,99,236,.12);
}
.income-form button{

    width:100px;
    padding: 15px;

    background: #2563EB;
    color:#fff;

    border:none;
    border-radius: 14px;

    font-size: 17px;
    font-weight: 600;

    cursor: pointer;
    transition: .3s;
}
.income-form button:hover{
    background: #1D4ED8;
    transform: translateY(-3px);
}

/* =========================
   TABLE
========================= */
.recent{
    background: #fff;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 0 15px 35px rgba(204, 111, 111, 0.08);
}
.recent table{
    width: 100%;
    border-collapse: collapse;
}
.recent th{
    background: #F8FAFC;
    padding: 16px;
    text-align: left;
}
.recent td{
    padding: 16px;
    border-bottom: 1px solid #E2E8F0;
}
.status-income{
    color: #16A34A;
    font-weight: 700;
}
.status-expense{
    color: #DC2626;
    font-weight: 700;    
}/* =========================
   PROFIL
========================= */

.profil-header{
    background:linear-gradient(135deg,#2563EB,#1D4ED8);
    border-radius:24px;
    padding:40px;
    display:flex;
    align-items:center;
    gap:30px;
    color:#fff;
    margin-bottom:35px;
    box-shadow:0 20px 40px rgba(37,99,235,.25);
}

.profil-avatar{
    width:110px;
    height:110px;
    border-radius:50%;
    background:#fff;
    color:#2563EB;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:42px;
    font-weight:700;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.profil-text h2{
    font-size:34px;
    margin-bottom:10px;
}

.profil-text p{
    font-size:17px;
    opacity:.95;
}

.profil-text i{
    margin-right:8px;
}

/* Bilgi Kartları */

.profil-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-bottom:35px;
}

.info-box{
    background:#fff;
    border-radius:20px;
    padding:28px;
    box-shadow:0 12px 30px rgba(15,23,42,.08);
    transition:.3s;
    border:1px solid #E2E8F0;
}

.info-box:hover{
    transform:translateY(-6px);
    box-shadow:0 20px 35px rgba(37,99,235,.15);
}

.info-box i{
    width:55px;
    height:55px;
    border-radius:14px;
    background:#EFF6FF;
    color:#2563EB;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    margin-bottom:18px;
}

.info-box h4{
    color:#64748B;
    font-size:15px;
    margin-bottom:8px;
    font-weight:500;
}

.info-box span{
    font-size:20px;
    font-weight:700;
    color:#0F172A;
    word-break:break-word;
}

/* Buton */

.profil-buttons{
    display:flex;
    justify-content:flex-end;
    margin-top:15px;
}

.edit-btn{
    display:inline-flex;
    align-items:center;
    gap:12px;
    background:#2563EB;
    color:#fff;
    text-decoration:none;
    padding:16px 28px;
    border-radius:14px;
    font-size:16px;
    font-weight:600;
    transition:.3s;
    box-shadow:0 12px 25px rgba(37,99,235,.25);
}

.edit-btn:hover{
    background:#1D4ED8;
    transform:translateY(-3px);
}

.edit-btn i{
    font-size:18px;
}

/* Responsive */

@media(max-width:900px){

    .profil-header{
        flex-direction:column;
        text-align:center;
    }

    .profil-grid{
        grid-template-columns:1fr;
    }

    .profil-buttons{
        justify-content:center;
    }

    
}
/* ==========================
   REPORTS
========================== */

.report-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    margin:30px 0;
}

.report-card{
    padding:28px;
    border-radius:20px;
    color:#fff;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.report-card:hover{
    transform:translateY(-6px);
}

.report-card p{
    font-size:15px;
    opacity:.9;
    margin-bottom:10px;
}

.report-card h2{
    font-size:34px;
}

.chart-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin:35px 0;
}

.chart-card{
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
    text-align:center;
}

.chart-card h3{
    margin-bottom:25px;
    color:#0F172A;
}

.chart-card canvas{
    max-width:300px;
    margin:auto;
}

.report-lists{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-bottom:30px;
}

.report-box{
    background:#fff;
    border-radius:20px;
    padding:30px;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.report-box h3{
    margin-bottom:20px;
    color:#0F172A;
}

.report-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #E2E8F0;
}

.report-item:last-child{
    border:none;
}

.report-item span{
    color:#475569;
    font-weight:500;
}

.report-item strong{
    color:#2563EB;
}

.analysis-box{
    background:#fff;
    border-left:6px solid #2563EB;
    border-radius:20px;
    padding:30px;
    box-shadow:0 15px 30px rgba(0,0,0,.08);
}

.analysis-box h3{
    margin-bottom:20px;
}

.analysis-box p{
    margin-bottom:14px;
    font-size:16px;
    color:#475569;
}

.analysis-box strong{
    color:#0F172A;
}

@media(max-width:1000px){

    .report-cards{
        grid-template-columns:1fr;
    }

    .chart-grid{
        grid-template-columns:1fr;
    }

    .report-lists{
        grid-template-columns:1fr;
    }

}